<html>
<head>
  <title>HotelApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "jquery" %>
  <%= csrf_meta_tags %>

</head>
<body onload="loadXMLDoc()">
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  <ul class="nav nav-pills">
    <li style="margin-left: 20px"><%=link_to "dashboard",'dashboard',:class=>"btn-large btn-warning"%></li>

    <li><%=link_to "kitchen",'show',:class=>"btn-large btn-info"%></li>
    <li><%=link_to "billing",'billing',:class=>"btn-large btn-success"%></li>
<li style="float:right;margin-right: 100px"><%=link_to "setting",edit_user_registration_path ,:class=>"btn-large btn-primary"%></li>

<% if user_signed_in? %>
    <li style="float:right;"> <%= link_to "Sign out", destroy_user_session_path, :method => :delete,:class=>"btn-large btn-danger" %></li>
  <%end%>
      </ul>
       
      
<%= yield %>

</body>
</html>
